<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Editais culturais</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Governo Do Estado Do Ceará" name="keywords">
    <meta content="Governo Do Estado Do Ceará" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <link rel="shortcut icon" type="imagex/png" href="img/logo/iconCe.ico">
</head>

<body>
   
    <!-- Topbar Start -->
    <div class="container-fluid bg-secondary px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"></i>Governo Do Estado Do Ceará -> Acesso restrito para: <b style="text-transform: uppercase;">{{nome_usuario}}</b></small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <img src="img/logo/secult-escura.png" width="180">
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    
                    <a href="http://localhost/EditaisMVC/" class="nav-item nav-link active"><b>Home</b></a>
                    <a href="http://localhost/EditaisMVC/listagem/listaNova" class="nav-item nav-link active"><b>Listagem</b></a>
                    <a href="http://localhost/EditaisMVC/postagem/logout" class="nav-item nav-link active"><b>Sair</b></a>
                </div>
            </div>
        </nav>

    </div>
    <!-- Navbar & Carousel End -->

    <!-- Features Start -->
    <br>



    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
       
        <h5 class="fw-bold text-primary text-uppercase">XXII EDITAL CEARÁ JUNINO PARA QUADRILHAS JUNINAS - 2022</h5>
    </div>
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">           
            <div class="row g-5">
                <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 rounded wow zoomIn" data-wow-delay="0.1s" src="img/edital/edital-cinema-video.jpeg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                            <h4>Etapas de Execução</h4>
                            {{nome}}
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-3"></i>Inscrições | 13/04/2022 a 24/04/2022</p>
                        </div>
                        <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                            <h4>Valor do Edital</h4>
                            <p class="mb-0">R$ 3.373.920,00</p>
                        </div>
                        <div class="col-lg-12 mb-20">
                            <h4>Contato sobre o Edital</h4>
                            <p class="mb-0">Mais informações poderão ser obtidas prioritariamente pelo e-mail:
                                editaljunino@secult.ce.gov.br e 
                                contato telefônico (85) 3101-6770</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                            <h4>Publicações do Edital</h4>
                            <p class="mb-0"><li id="file-3625034" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/oportunidade/3753/"><span>Ficha de inscrição no Mapa</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/edital_xxii_edital_ceara_junino_para_quadrilhas_juninas_2022.pdf"><span>Edital </span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_i_plano_de_acao.xlsx "><span>Anexo I plano de ação</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_ii_formulario_de_recurso.docx "><span>Anexo II  formulario de recurso</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_iii_termo_de_execucao_cultural.pdf"><span>Anexo III minuta de termo execução cultural</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_iv_dotacoes_orcamentarias.pdf"><span>Anexo IV dotação orçamentária</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_v_formulario_de_acoes_para_acessibilidade.docx"><span>Anexo V formulario de ações para acessibilidade</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_vi_carta_coletiva_de_anuencia_dos_grupos.docx"><span>Anexo VI carta coletiva de anuência dos grupos</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_vii_dados_bancarios.docx"><span>Anexo VII dados bancários </span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_viii_regulamento_dos_festivais_regionais_e_quadrilhas_juninas.pdf"><span>Anexo VIII regulamento dos festivais regionais e quadrilhas juninas</span></a></li></p>
                            <p class="mb-0"><li id="file-3625041" class="widget-list-item"><a title="" href="https://mapacultural.secult.ce.gov.br/files/opportunity/3753/anexo_ix_nova_regionalizacao.pdf"><span>Anexo IX nova regionalização</span></a></li></p>
                        </div>
                    </div>
                    <div id="login-button-panel" class="col-lg-12">
                        <button name="action" value="enterAccountId" class="button-continuar" type="submit" tabindex="1">Alterar</button>
                        <button name="action" value="enterAccountId" class="button-continuar" type="submit" tabindex="1" style="background: rgb(251, 138, 8);">Desativar</button>                
                    </div>
                </div>               
            </div>
        </div>
        
    </div>
    <hr>
    <!-- Features Start -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-10 ">
                <div class="col-lg-12 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-3 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h4 class="text-light mb-0">Sede da Secult</h4>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-white  me-2"></i>
                                <p class="mb-0">
                                    Rua Major Facundo, 500 – Centro
                                    Fortaleza, CE
                                    CEP: 60.025-100</p>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h4 class="text-light mb-0">Nossos canais</h4>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <div class="d-flex mb-2">
                                    <i class="bi bi-envelope-open text-white me-2"></i>
                                    <p class="mb-0">SECULT.CE.GOV.BR</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-lg-3 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h4 class="text-light mb-0">Horário de atendimento</h4>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <div class="d-flex mb-2">
                                    <i class="bi bi-telephone text-white  me-2"></i>
                                    <p class="mb-0">
                                        De segunda a sexta 08 ás 17 horas</p>
                                </div>
                            </div>
                        </div>
                           <div class="col-lg-3 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="d-flex mt-4">
                                <a class="btn btn-secondary btn-square me-2" href="https://www.facebook.com/secultceara/"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-secondary btn-square me-2" href="https://www.instagram.com/secultceara/" ><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-secondary btn-square" href="https://www.youtube.com/channel/UCVckZREupHqHkoS7MmxwH9w"><i class="fab fa-youtube fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>